{% extends 'base/main.html' %}


{% block content %}
<div class="header-bar">
    <div>
        <h1>The address book</h1>
    </div>

</div>

<a href="{% url 'person-create' %}">Add a person to the address book</a>
<h1></h1>
<th></th> 

<div id="search-add-wrapper">
    <form method="GET" >
        <input type='text' name='q' value="{{query}}">
        <input class="button" type="submit" value='Search'>
    </form>
   
</div>
</form>
<h1></h1>

<table>
    <tr>
        <th>Person</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    {% for person in persons %} 
    <tr></tr>
    <ul><td>{{ person.name }}</td> 
        <td>{{ person.lastname }}</td> 
        <td><a href="{% url 'person-update' person.id %}">Edit/View</a></td>
        <td><a href="{% url 'person-delete' person.id %}">Delete</a></td>
    </ul>
        

    </tr>
    
    {% empty %}
    <h3>No persons in list</h3>
    {% endfor %} 
</table>
{% endblock content %}
